
.icon-contact:before { content: '\90f5'; } /* '郵' */
.icon-book:before { content: '\6703'; } /* '會' */
.icon-paper:before { content: '\8ad6'; } /* '論' */
.icon-cog:before { content: '\696d'; } /* '業' */
.icon-vcard:before { content: '\6b77'; } /* '歷' */